.myBtn{
    padding: 5px 15px;
    color:purple;
    font-size:14px;
    background: transparent;
    border: 1px solid purple;
    cursor: pointer;
    border-radius: 5px;
    
}

.myBtn:hover{
    color:white;
    background-color:purple;
}

.myBtn:hover:disabled{
    background:lightgray;
    border-color: lightgray;
    cursor:not-allowed;
}