*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
#root{
  display:flex;
  justify-content:center;
}
.App{
  width:800px;
}
.post{
  display:flex;
  padding:15px;
  border: 2px solid purple;
  margin-top:15px;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
}