*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
#root{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.App{
  width:800px;
}
.post{
  display:flex;
  padding:15px;
  border: 2px solid purple;
  margin-top:15px;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
}

.post-enter {
transform: translateX(-350px);
}

.post-enter-active {
  transform:translateX(0px);transition: all 500ms ease-in;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.page__wrapper{
  margin: 30px 0;
  display:flex
}
.page {
  padding:10px;
  border:1px solid purple;
  cursor:pointer;
}
.page:hover {
  color: white;
  background-color: purple;
}
.page__current {
  font-weight:bold;
  background-color:  rgb(216, 86, 10);
  color:white;
}

.navbar{
  height:50px;
  width:100%;
  display:flex;
  align-items:center;
  padding:0 15px;
  background:#eee;
  box-shadow: inset -1px -1px 20px 0px #aaa;
}
.navbar:hover{
  box-shadow: inset -1px -1px 20px 0px purple;
}

.navbar__links{
  margin-left:auto;  
}
.navbar__links a{
  margin-right:5px;
  text-decoration: none;
  color:darkviolet;
}
.navbar__links a:visited{
  color: darkviolet;
  text-decoration: none;
}
.navbar__links a:hover {

  text-decoration:underline
}
.post__btns{
  display:flex;
}